<h3 class="header"><%= @post.header %></h3>
<%= @post.content %>
<br><br>
<br>

<% @comments.each do |c| %>
  <%= render 'comment', comment: c %>
<% end %>

<br><br>
<%= simple_form_for(@comment) do |f| %>
  <div class="form-inputs">
    <%= f.input :message, input_html: { required: true } %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<br><br>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) if current_user.admin? %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete if current_user.admin? %>
</div>
